
html,body,footer{
    margin:0;
    padding:0;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:10px;
    grid-auto-rows: minmax(100px,auto);
    font-size: 18px;
    color: #2D3748;
    overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"SegoeUI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif;
}

header{
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: center; 
    background-color: #63B3ED;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h2{
    font-size: 32px;
    color: #48BB78;
    margin-bottom: 0px;
}

h3{
    color: #48BB78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.circ{
    width: 200px;
    border-radius: 50%;
}

.main{
    grid-column: 1;
    grid-row:2;
    padding-left:150px;
    padding-right: 150px;
    padding-bottom: 150px;
}

.article_info{
    color: #718096;
    margin-top:0
}

.article_1_img{
    float:left;
    padding-right: 10px;
    width: 250px;
    height: 230px;
}

.article_2_img{
    float:right;
    padding-left: 10px;
    width: 300px;
    height: 150px;
}
.side{
    grid-column: 2;
    grid-row:2;
    padding-right: 100px;
}

.About{
    background-color: #E2E8F0;
    padding-left: 15px;
    
}

.About_header{
    color: #000000;
}

.Socials{
    padding-left: 15px;
    padding-top:15px;
}

.Archives{
    padding-left: 15px;
    padding-top:40px;
}

a{
    color: #4299E1;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer{
    grid-column: 1 / 3;
    grid-row:3;
    background-color: #2C5282;
    color: #FFFFFF;
    padding-left: 200px;
    padding-top: 15px;
}
